body {
  margin: 0;
  padding: 0;
  min-height: 90em;
  background-image: url(https://images5.alphacoders.com/571/571559.jpg);
}
.jumbotron {
  background-image: url("https://halfspaceshome.files.wordpress.com/2019/01/grass-football-pitch-header.jpg");
  background-size: cover;
  color: black;
}
.panel {
  width: 700px;
  height: 500px;
  margin: auto;
}
a {
  color: black;
}
