body {
  margin: 0;
  padding: 0;
  min-height: 90em;
  background-image: url(https://images5.alphacoders.com/571/571559.jpg);
}
.sizer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.nav-wrapper {
  background-color: #222;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
}
nav,
ul,
.logo {
  display: inline-block;
  box-sizing: border-box;
  
}
.logo {
  background-color: #c8181f;
  border-right: 0.5em solid #9b1318;
  border-left: 0.5em solid #9b1318;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  padding: 0 2em;
  height: 100%;
  position: absolute;
  left: 2em;
  z-index: 99;
}
.logo .text {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  display: inline-block;
}
nav {
  background-color: #222;
  color: #fff;
  text-decoration: none;
  padding-left: 15em;
  vertical-align: middle;
}
nav ul {
  margin: 0;
  padding: 0 1em;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
}
.sub-nav {
  position: absolute;
  z-index: 9;
  top: 0;
  margin-top: 3em;
  padding-left: 0;
  background-color: #d5d5d5;
  color: #222;
  width: 100%;
  height: 3em;
  transition: margin-top 0.5s ease-in, padding-left 0.5s ease-in;
}
.sub-nav ul {
  margin: 0;
  padding: 0;
}
.sub-nav li {
  display: inline-block;
  padding: 0 1em;
  box-sizing: border-box;
}
.sub-nav.active {
  margin-top: 0;
  padding-left: 15em;
}
.fake-content {
  padding: 8em;
  background-image: url(https://images5.alphacoders.com/571/571559.jpg);
}

.scorebat {
  display: flex;
  overflow: hidden;
  position: fixed;
  scroll-behavior: auto;
  max-width: 500%;
  height: 100%;
  padding: 0,0,0,20px;
  
  
}

.live-scores {
  display: flex;
  width: 33%;
  height: 70%;
}

.a {
  color: #d5d5d5;


}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 700px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #051026;
  color: white;
  padding: 50px 20px 50px 50px;
  border: 10px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  align-content: center;
  align-items: center;
  
}

/* Style the container */
.container {
  border-radius: 10px;
  border-color: #222;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
  height: 660px;
  left: 725px;
  right: 0px;
  bottom: 135px;
  position: fixed;
  display: flex;
  overflow: hidden;
  min-width: 700px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.submit {
  justify-content: center
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* .Footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:#111D35;
  color: white;
} */