body {
  font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
  background-image: url("https://halfspaceshome.files.wordpress.com/2019/01/grass-football-pitch-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  width: 100%;
  background-color: goldenrod;
  overflow: auto;
}
container {
  display: flex;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}
.container {
  background-image: ;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
