body {
  margin: 0;
  padding: 0;
  min-height: 90em;
  background-image: url(https://images5.alphacoders.com/571/571559.jpg);
}
.jumbotron {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTROaEHiCSjpu43-L_pxYb0Oq3CZ_pJvRzvaXCv20gumrI5X_tr");
  background-size: cover;
  color: black;
}
.panel {
  width: 700px;
  height: 500px;
  margin: auto;
}
a {
  color: black;
}
