.team-image {
  justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.jumbotron {
  background-color: khaki;
}
table,
th,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}
